/* line 1, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-name-group {
  padding-right: 65px;
  position: relative;
}

/* line 8, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-contact-photo .im-image-upload-placeholder-container {
  margin: 0;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
/* line 14, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-contact-photo .im-image-upload-placeholder-container .thumbnail {
  width: 45px;
  height: 60px;
  margin-bottom: 2px;
}
/* line 18, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-contact-photo .im-image-upload-placeholder-container .thumbnail i {
  color: #ddd;
  /*font-size:45px;*/
  /*text-align: center;*/
  /*padding: 6px 4px;*/
}

/* line 31, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-contact-name-detail .thumbnail {
  width: 75px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 0px;
}
/* line 34, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-contact-name-detail .thumbnail img {
  vertical-align: middle;
  display: inline;
}
/* line 43, ../../../../../.tmp/scss/modules/contacts/scss/addressbook.scss */
.ab-contact-name-detail h1 {
  display: inline;
}
