<div class="go-mask" ng-class="{deleted: user.attributes.deleted}"></div>

<div class="go-toolbar">

	<a class="btn visible-xs" ui-sref="users">				
	   <span class="fa fa-chevron-left"></span>
	</a>

	<a class="btn" ui-sref="users.edit({userId: user.attributes.id})">
		<span class="fa fa-edit"></span> {{'Edit'| goT}}
	</a>

	<a class="btn" ui-sref="contacts.contact({contactId: user.attributes.contact.attributes.id})">
		<span class="fa fa-user"></span> {{'View profile'| goT}}
	</a>

	<div class="go-toolbar-right">

		<im-soft-delete-button 
			im-on-delete="syncWithStore();" 
			im-on-un-delete="syncWithStore();" 
			im-model="user" 
			im-size="sm">
		</im-soft-delete-button>

	</div>

</div>


<div class="go-scrollable-panel">

	<div class="go-card">
		<h1>{{user.attributes.username}}</h1>



		<dl>
			<dt>{{"Enabled"| goT}}</dt>
			<dd>{{user.attributes.enabled| boolean}}</dd>
		</dl>

		<dl>						
			<dt>{{"Roles"| goT}}</dt>
			<dd>
				<ul class="comma-list">
					<li ng-repeat="role in user.attributes.roles">
						<a ui-sref="roles.edit({roleId: role.attributes.id})">{{role.attributes.name}}</a>
					</li>
				</ul>
			</dd>
		</dl>
		
		<dl>
			<dt>{{"Number of logins"| goT}}</dt>
			<dd>{{user.attributes.loginCount}}</dd>
		</dl>
		
		
		<dl>
			<dt>{{"Last login"| goT}}</dt>
			<dd>{{user.attributes.lastLogin|date:"medium"}}</dd>
		</dl>


		<dl>
			<dt>{{"Created at"| goT}}</dt>
			<dd>{{user.attributes.createdAt|date:"medium"}}</dd>
		</dl>

		<dl>
			<dt>{{"Modified at"| goT}}</dt>
			<dd>{{user.attributes.modifiedAt|date:"medium"}}</dd>
		</dl>

	</div>

</div>
