<form name="userForm" im-submit="save()" novalidate class='form-horizontal go-labels'>
	<div class="go-toolbar">

		<a class="btn" ng-click="cancel();">
			<span class="fa fa-chevron-left"></span>
		</a>

		<button type="submit">
			<i class="fa fa-floppy-o"></i> {{'Save'| t}}
		</button>

	</div>

	<div class="go-scrollable-panel">

		<div class="go-card">
			<!-- Default panel contents -->
			<h1>{{"Properties"| t}}</h1>

		

				<div class="form-group">
					<div class="checkbox">
						<label for="checkbox">
							<input type="checkbox" id="checkbox" ng-model="user.attributes.enabled" /> {{'Enabled'| t}}
						</label>
					</div>
								
				</div>


				<!--<div ng-if="!user.attributes.id">-->
				<!---->
				<div class="form-group" ng-if="user.attributes.id === null">
					
					<label for="fullName">{{"Name"| t}}</label>
					
				
					<div class="input-group">

						<input type="text" name="fullName" id="fullName" class="form-control" ng-model="user.fullName" ng-change="changeFullName()" required go-autofocus />

						<div class="input-group-btn">
							<button type="button" ng-click="user.showNameParts = !user.showNameParts" class="btn btn-default">
								<i class="fa" ng-class="{'fa-chevron-down': !showNameParts, 'fa-chevron-up': showNameParts}"></i>
							</button>					
						</div>
					</div>

					<im-show-error for="fullName" im-model="user"></im-show-error>
				
				</div>

				<div ng-if="user.showNameParts">
					<div class="form-group">
						<label for="firstName">{{"First name"| t}}</label>
					
						<input type="text" id="firstName" class="form-control" ng-model="user.attributes.contact.attributes.firstName" required />
					
					</div>

					<div class="form-group">							
						<label  for="middleName">{{"Middle name"| t}}</label>
					
						<input type="text" id="middleName" class="form-control" ng-model="user.attributes.contact.attributes.middleName" />
					
					</div>

					<div class="form-group">							
						<label  for="lastName">{{"Last name"| t}}</label>
						
						<input type="text" id="lastName" class="form-control" ng-model="user.attributes.contact.attributes.lastName" />
						
					</div>
				</div>
				<!--</div>-->

				<div class="form-group">
					<label for="username">{{"Username"| t}}</label>
					<input type="text" id="username" name="username" ng-model="user.attributes.username" required />
					<im-show-error for="username" im-model="user"></im-show-error>
				</div>

				<div class="form-group" ng-if='user.attributes.id === null'>
					<label  for="email">{{"E-mail"| t}}</label>
					<input type="email" name="email" id="email" class="form-control" ng-model="user.attributes.contact.attributes.emailAddresses[0].attributes.email" required />
					<im-show-error for="email" im-model="user"></im-show-error>

				</div>


				<div class="form-group">
					<label  for="password">{{"Password"| t}}</label>
					
					<input type="password" id="password" name="password" class="form-control" ng-model="user.attributes.password" autocomplete="off" ng-required="user.attributes.id == null" />						
					<im-show-error for="password" im-model="user"></im-show-error>
					
				</div>

				<div class="form-group">
					<label  for="passwordConfirm">{{"Confirm password"| t}}</label>
					
					<input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" ng-model="user.attributes.passwordConfirm" im-match="user.attributes.password" ng-required="user.attributes.password != ''" autocomplete="off" />

					<im-show-error for="passwordConfirm" im-model="user" im-messages="{'imMatch': 'The passwords don\'t match'}"></im-show-error>
				
				</div>
			
		</div>

		<div class="go-card">
			
			<div class="go-toolbar go-toolbar-xs">
				<h1>{{"Roles"| t}}</h1>

				<div class="go-toolbar-right">

					<a class="btn" ng-click="storeSelectModal.openModal()">
						<i class="fa fa-plus"></i>
					</a>

				</div>
			</div>


			<ul class="list-group">
				<li ng-if="!role.attributes.markDeleted" class="list-group-item" ng-repeat="role in user.attributes.roles">
					{{role.attributes.name}}

					<span style="float:right">
						<a class="btn btn-danger btn-xs" ng-click="role.attributes.markDeleted = true"><i class="fa fa-trash-o"></i></a>
					</span>
				</li>  

				<li class="list-group-item im-show-if-only-child">
					{{'No roles selected'| t}}
				</li>
			</ul>

		</div>
	</div>
</form>