<go-loadmask active="user.showMask"></go-loadmask>

<form name="userChangePasswordForm" im-submit="save()" novalidate class='form-horizontal go-labels'>

	<div class="go-toolbar">

		<a class="btn visible-xs" ui-sref="settings">				
			<span class="fa fa-chevron-left"></span>
		</a>

		<button type="submit">
			<i class="fa fa-floppy-o"></i> {{'Save'| goT}}
		</button>

	</div>

	<div class="go-scrollable-panel">

		<div class="go-card">

			<div class="form-group">
				<label  for="currentPassword">{{"Current password"| goT}}</label>

				<input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="user.attributes.currentPassword" autocomplete="off" required go-autofocus />						
				<im-show-error for="currentPassword" im-model="user"></im-show-error>					
			</div>

			<div class="form-group">
				<label  for="password">{{"New password"| goT}}</label>

				<input type="password" id="password" name="password" class="form-control" ng-model="user.attributes.password" autocomplete="off" required />						
				<im-show-error for="password" im-model="user"></im-show-error>					
			</div>

			<div class="form-group">
				<label  for="passwordConfirm">{{"Confirm password"| goT}}</label>

				<input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" ng-model="user.attributes.passwordConfirm" im-match="user.attributes.password" required autocomplete="off" />

				<im-show-error for="passwordConfirm" im-model="user" im-messages="{'imMatch': 'The passwords don\'t match'}"></im-show-error>

			</div>

		</div>

	</div>
</form>