
<div ng-include="'partials/header.html'"></div>



<div class="go-body">

	<!-- Start of list panel with toolbar -->
	<div  class="go-panel grid">

		<div class="go-scrollable-panel">
			<accordion close-others="oneAtATime" ng-repeat="controller in controllers">

				<accordion-group heading="{{controller.name}}">

					<ul  class="list-group">
						<li class="list-group-item" ng-repeat="action in controller.actions">
							<a ng-click="setAction(action)">{{action.name}}</a>
						</li>  
					</ul>

				</accordion-group>
			</accordion>

		</div>

	</div>

	<div class="go-panel fill">

		<div class="go-toolbar">
			<button ng-click="request('GET')" type="submit" ng-disabled="!apiForm.$valid" class="btn btn-primary">
				<i class="fa fa-floppy-o"></i> GET
			</button>

			<button ng-click="request('POST')" ng-disabled="!apiForm.$valid" class="btn btn-primary">
				<i class="fa fa-floppy-o"></i> POST
			</button>
		</div>

		<div class="go-scrollable-panel">

			<div class="col-md-6">


				<form name="apiForm" ng-submit="save()" novalidate>
					<div class="form-group">
						<label for="route">{{"Route"| t}}</label>		

						<input id="route" type="text" class="form-control" ng-model="route" required />	

					</div>


					<div class="form-group">
						<label for="getParams">{{"GET Parameters"| t}}</label>

						<div class="form-group form-inline" ng-repeat="getParam in getParams">
							<input type="text" ng-model="getParam.name" class="form-control" placeholder="Enter name...">

							<input type="text" ng-model="getParam.value" class="form-control" placeholder="Enter value...">
							<button type="button" class="btn btn-danger" ng-click="getParams.splice($index, 1)"><i class="fa fa-trash-o"></i></button>

						</div>
						<div class="form-group">
							<span class="btn btn-default" ng-click="getParams.push({name: '', value: ''})"><i class="fa fa-plus"></i> {{"Add parameter"| t}}</span>
						</div>


					</div>

					<div class="form-group">
						<label for="json">JSON payload</label>
						<textarea id="json" class="form-control" ng-model="json" placeholder='eg. {"model": {"attributes": {"name": "api test"}}}'></textarea>
					</div>

				</form>
			</div>

			<div class="col-md-6">

				<div class="form-group">
					<label for="response">Server response</label>
					<pre id="response">{{response| json}}</pre>
				</div>		

			</div>

		</div>

	</div>
</div>