

$font-stack:    "Helvetica Neue",Helvetica,Arial,sans-serif;
$primary-color: #333;

$light-font-color: #616161;

$border-color: #ddd;/*#e7e7e7;*/


/* Dark grey */
$dark-bg: #607d8b;
$medium-bg: #cfd8dc;
$light-bg: #eceff1;

/*$dark-bg: #259b24;
$medium-bg: #a3e9a4;
$light-bg: #d0f8ce;*/



$orange: #ff9800;
$blue-grey: #607d8b;
$green: #259b24;
$black: #000;
$white: #fff;

$red-bg: #f69988;



$list-panel-width: 400px;
$header-height: 50px;
$toolbar-height: 50px;


$zindex-mask:	500;
$zindex-delete-button: 510;
$zindex-mask-complete: 520;
$zindex-menu: 1080;
$zindex-toolbar: 400;



/*Color palette (http://www.google.com/design/spec/style/color.html#color-ui-color-palette)*/



