
.go-body{
	position:absolute;
	top: $header-height + 5px;
	bottom:0px;
	left: 0px;
	right: 0px;

	.go-panel{
		position: relative;
		float:left;
		height: 100%;	
		display: block;

		min-height: 1px;

		&.active{
			display: block !important;
		}

		&.hidden{
			display:none !important;
		}

		&.list{

			width: 100%;

			@media(min-width: $screen-sm-min){
				width: 370px;
			}
		}
		&.grid{
			width: 100%;
			@media(min-width: $screen-sm-min){
				width: 600px;
			}
		}




		/* Show on desktop only */
		&.lg{
			/* Full width when tablet or smaller */
			@media(max-width: $screen-sm-max){
				display:none;
			}
		}

		/* Show on tabler or larger */
		&.sm{	
			/* tablet */
			@media(max-width: $screen-xs-max){		
				display:none;	
			}
		}



		&.fill {
			overflow: hidden;
			display: block;
			float:none;

			/* tablet */
			@media(max-width: $screen-sm-max){		
				display:none;	
			}
		}
	}
}

.go-col{
	float:left;

	&.sm-2{
		/*Full width when tablet or smaller*/ 
		@media(min-width: $screen-sm-min){
			width:50%;
		}
	}

	&.lg-2{
		/*Full width when tablet or smaller*/ 
		@media(min-width: $screen-lg-min){
			width:50%;
		}
	}
}



@media (min-width: 1200px) {
	.go-lg-col-2 {

		/*		-webkit-column-count: 2;
				-moz-column-count: 2;  
				column-count: 2;
				column-gap:0;*/

		overflow-y: auto;
		overflow-x: hidden;

		width: 100%;
		height: 100%; /* NB: IE requires the height property. max-height won't work on IE)*/
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: flex-start;

		.item{		
			display: inline-block;
			width:50%;
			height:100px;
			/*flex: 1;*/

		}
	} 
}
