
.go-body{
	position:absolute;
	top: $header-height + 5px;
	bottom:0px;
	left: 0px;
	right: 0px;
	overflow: hidden;

	.go-panel{
		
		/* Full size on mobile */
		position: absolute;
		top: 0px;
		left:0px;
		right:0px;
		bottom: 0px;
		overflow:hidden;
		
		display: block;
		
		transition: all 0.3s ease-out;		
		
		transform: translateX(-100%);
		
		@media(min-width: $screen-sm-min){
			
			/* floating cards on tabler or higher */
			left: auto;
			right: auto;
			bottom: auto;
			top: auto;
			
			position: relative;
			float:left;
			height: 100%;	
			min-height: 1px;
			width: 100%;
			
			transform: translateX(0%);
		}

		&.active{
			/*display: block !important;*/
			
			transform: translateX(0%) !important;
		}

		&.hidden{
			/*display:none !important;*/
			transform: translateX(-100%);
		}

		&.list{			

			@media(min-width: $screen-sm-min){
				width: 370px;
			}
		}
		&.grid{

			@media(min-width: $screen-sm-min){
				width: 600px;
			}
		}



/*
		 Show on desktop only 
		&.lg{
			 Full width when tablet or smaller 
			@media(max-width: $screen-sm-max){
				display:none;
				transform: translateX(-100%);
			}
		}

		 Show on tabler or larger 
		&.sm{	
			 tablet 
			@media(max-width: $screen-xs-max){		
				display:none;	
				transform: translateX(-100%);
			}
		}*/

		&.fill {
			
			@media(max-width: $screen-xs-max){		
				transform: translateX(100%);
			}
			
		
			/* tablet */
			@media(min-width: $screen-sm-min){	
				width: auto;
				overflow: hidden;
				display: block;
				float:none;
			}
		}
	}
}

.go-col{

	&.sm-2{
		/*Full width when tablet or smaller*/ 
		@media(min-width: $screen-sm-min){
			width:50%;
			float:left;

		}
	}

	&.lg-2{
		/*Full width when tablet or smaller*/ 
		@media(min-width: $screen-lg-min){
			width:50%;
			float:left;

		}
	}
}



@media (min-width: 1200px) {
	.go-lg-col-2 {

		/*		-webkit-column-count: 2;
				-moz-column-count: 2;  
				column-count: 2;
				column-gap:0;*/

		overflow-y: auto;
		overflow-x: hidden;

		width: 100%;
		height: 100%; /* NB: IE requires the height property. max-height won't work on IE)*/
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: flex-start;

		.item{		
			display: inline-block;
			width:50%;
			height:100px;
			/*flex: 1;*/

		}
	} 
}
