.list-group-item{	
	
	.thumbnail{
		vertical-align:middle;
		display:inline-block;
		margin-bottom:0px;
		margin-right:10px;
	}

	.go-list-date{
		float:right;
		color:#777777;
		font-style:italic;
	}

	.active{
		.go-list-date{
			color:white;
		}	
	}	
}

.go-panel{
	.list-group{
		.list-group-item{
			border-right: 0px;
			border-left:0px;
		}
	}
}

.go-padding-panel, .go-card{
	.list-group{
		.list-group-item{
			border-right: 1px solid $border-color;
			border-left: 1px solid $border-color;
		}
	}
}

.go-list-item-loading{
		border:0px;
	}