.go-logo{
	background-image: url(https://tvo.group-office.com/tv-oosterplas.jpg);
	background-repeat:  no-repeat;
	background-size: 126px 94px;	
	background-position: right;

	height: 94px;	
	margin-bottom: -50px;
}