$start-icon-size: 100px;



.go-start-screen{
	padding:20px;
	/*padding-left:20px;*/
	
	background-color:white;
	
/*	h1{
		color: $primary-color;
		border-bottom: 1px solid $primary-color;
		font-size: 1.2em;
		margin:30px 0;		
	}
	div:first-child{
		h1{
			margin-top:0;
		}
	}*/

	.go-start-icon-col{
		text-align:center;
	}
	
	.go-start-icon{
		
		display:inline-block;
		font-size:14px;
		color: $primary-color;
		text-align:center;
		/*margin-right:20px;*/
		margin-bottom:20px;
		
		width:$start-icon-size + 20px;
		
		span{
			background: #eeeeee;
			width:$start-icon-size;
			height:$start-icon-size;
			border-radius:$start-icon-size / 2;
			color:$header-bg;
			font-size:48px;
			display:block;
			line-height:($start-icon-size - 48px) / 2;
			padding:($start-icon-size - 48px) / 2;
			margin:4px;
			
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
			
			&:active{
				box-shadow: none;
			}
		}
		
		&:hover{
			text-decoration: none;
		}
		
		&.user span{
			color: $blue-grey;
		}
		&.admin span{
			color: $orange;
		}
		
		&.dev span{
			color: $green;
		}
	}
	
/*	ul{
		list-style:none;
		margin:0px;
		padding:0px;
		text-align:justify;
		li{
			display:inline-block;
			font-size:14px;
			color: $primary-color;
			text-align:center;
			margin-right:20px;
			a{
				color: $primary-color;
			}

			a:hover{
				text-decoration: none;
			}
		}
	}*/
}