

@import 'config';
@import 'toolbar';

@import "bootstrap";

@import 'form';
@import 'bootstrap-overrides';
@import 'header';
@import 'list';
@import 'start-screen';
@import 'panels';
@import 'layout';
@import 'ng-sortable';
@import 'ui-select';

@import 'files';
@import 'timeline';
@import 'mask';

@import 'local';


@import '../lib/multi-select-field/multi-select-field';
@import '../lib/soft-delete-button/soft-delete-button';
@import '../lib/form/error-balloon';
@import '../lib/image-upload-placeholder/image-upload-placeholder';
@import '../lib/collapsible-panel/collapsible-panel';
@import '../lib/tabs/tabs';
@import '../lib/core/numeric/numeric';


/* module stylesheets */ 
//@import '../modules/notes/scss/notes';
@import '../modules/contacts/scss/contacts';
@import '../modules/timeline/scss/timeline';
@import '../modules/announcements/scss/announcements';

/* module stylesheets */



html{
	margin:0;
	padding:0;
	overflow: hidden;
}


body{
	position: absolute;
	width:100%;
	height:100%;
	overflow: auto;
	font-family: $font-stack;
	
	background-color: $body-bg;
}

pre {
	white-space: pre-wrap;  
}

a {
	cursor:pointer;
}

.btn{
	@extend .btn-default;
}

button {
	@extend .btn;
	@extend .btn-default;
}

button[type=submit] {
	@extend .btn;
	@extend .btn-primary;
}




dl{
	@extend .dl-horizontal;
}

h1{
	margin-top:0px;
	color:$primary-color;
	font-size:18px;
	font-weight:bold;
}

h2{
	margin-top:0px;
	color:$primary-color;
	font-size:14px;
}

h3{
	margin-top:6px;
	margin-bottom:4px;
	color:$primary-color;
	font-size:1em;
	font-style:italic;

}

.im-input-group-multiple{
	margin-bottom: 6px;
}

.im-show-if-only-child{
	display:none;

	&:only-child{
		display: inherit;
	}
}


/* rotate an element */
.go-rotate{
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* end rotate an element */



.go-login-window{	

	@media(min-width: $screen-sm-min){
		width:400px;
		margin:20px auto;
	}
	
	
	
	h1{
		margin-bottom: 30px;
	}
}

.go-alerts{
	position: absolute;
	bottom: 0px;
	right: 35px;
	z-index: 10000;
	width: 300px;
	alert {
		text-align: center;
	}
}



/* modals */

.go-modal-alert .glyphicon{
	font-size: 32px;
	vertical-align: middle;
	margin-right:6px;
}
.go-modal-alert .modal-footer{
	margin-top: 0px
}

/* end modals */



ul.comma-list {
	display: inline;
	margin: 0;
	padding: 0;
	li {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;

		.fa{
			display:inline;
			padding-right:2px;
		}
	};

	li:after {
		content: ", ";
	};

	li:last-child:after {
		content: "";
	};
}



.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}