<div ng-include="'partials/header.html'"></div>

<div class="go-body">
	
	<div class="go-panel list active" ng-class="{'active' : panelSwitcher.initialActive}">		
		<div class="go-scrollable-panel list-group">
			<a class="list-group-item" ui-sref-active="active" ui-sref="{{settingsPage.sref}}" ng-repeat="settingsPage in settingsPages"><span class="{{settingsPage.icon}}"></span> {{settingsPage.title | t}}</a>
		</div>
	</div>
	
	<div class="go-panel fill" ng-class="{'active' : !panelSwitcher.initialActive}">
		<div ui-view></div>	
	</div>
	
</div>