
<div class="modal-header">
	<a ng-click="cancel();"><i class="fa fa-chevron-left"></i>
	{{message.subject}}</a>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-lg-4">

			<div class="list-group">
				
				<a ng-repeat="reference in message.references" class="list-group-item" ui-sref-active="active" ui-sref="contacts.contact.timeline.message({messageId: reference.id})">
					
					<b>{{reference.from.display}}</b><br />
					<small>{{reference.date| date : 'fullDate'}} {{reference.date| date : 'shortTime'}}</small>
										
				</a>
				
			</div>

		</div>

		<div class="col-lg-8">

			<div class="em-headers">
<!--				<dl class="em-header">
					<dt>
					{{"Date"| goT}}
					</dt>
					<dd>{{message.date| date : 'fullDate'}} {{message.date| date : 'shortTime'}}</dd>
				</dl>-->

				
				<dl class="em-header">
					<dt>
					{{"To"| goT}}
					</dt>
					<dd><a ng-repeat="a in message.to" href="mailto:{{a.address}}">{{a.display}}</a></dd>
				</dl>

				<!--		<h1 class="em-header"></h1>-->
			</div>
			<div ng-if="message.attachments.length" class="em-attachments">
				<a ng-if="!attachment.inline" ng-repeat="attachment in message.attachments" href="{{attachment.url}}" target="_blank">
					{{attachment.filename}} ({{attachment.size| bytes}})
				</a>	
				<div style="clear:both"></div>
			</div>
			<div ng-bind-html='message.html'></div>	
		</div>
	</div>
</div>

