
<div ng-include="'partials/header.html'"></div>




<div class="go-body">

	<!-- Start of list panel with toolbar -->
	<div ng-class="{active: panelSwitcher.initialActive}" class="go-panel sm list active">

		<div class="go-toolbar">

			<go-store-search store="store"></go-store-search>				

			<div class="go-toolbar-right">

				<a class="btn" ui-sref="roles.edit({roleId: 0})">
					<span class="fa fa-plus"></span>
				</a>
			</div>
		</div>

		<div class="go-scrollable-panel">
			<div class="go-list list-group" im-infinite-scroll="store.nextPage()" im-infinite-scroll-disabled="!store.shouldLoad()">
				<div class="deletable" ng-class="{'deleted-invisible': role.attributes.deleted}" ng-repeat="role in store.items">
					<a  ui-sref-active="active" ui-sref="roles.edit({roleId: role.attributes.id})" class="list-group-item">			
						<i class="fa" ng-class='{"fa-user":role.attributes.userId, "fa-group":!role.attributes.userId}'></i> {{role.attributes.name}}
					</a>
				</div>
				<div ng-if="store.busy" class="list-group-item go-list-item-loading"><i class="fa fa-spinner go-rotate"></i> {{"Loading more items..."| goT}}</div>
			</div>	
		</div>

	</div>
	<!-- The detail and edit pane is loaded in this view -->
	<div class="go-panel fill" ng-class="{active: !panelSwitcher.initialActive}">
		
		<go-loadmask active="role.showMask"></go-loadmask>
		
		<div ui-view></div>
	</div>

</div>


