<div class="modal-content">
	<div class="modal-header">
		<h3 class="modal-title">{{"Select roles"| goT}}</h3>
	</div>
	<div class="modal-body">	

		<div class="input-group">
			<input type="text" class="form-control" im-keypress="{13: 'storeSelectModal.availableStore.search()'}" ng-model="storeSelectModal.availableStore.searchQuery" placeholder="{{'Search'| goT}}..." />

			<div class="input-group-btn">

				<button class="btn btn-default" ng-click="storeSelectModal.availableStore.reset();"><i class="fa fa-times"></i></button>
				<button class="btn btn-default" ng-click="storeSelectModal.availableStore.search();"><i class="fa fa-search"></i></button>
			</div>
		</div>

		<div style="margin-top:10px;height:300px;overflow:auto" class="list-group" im-infinite-scroll="storeSelectModal.availableStore.nextPage()" im-infinite-scroll-disabled="!storeSelectModal.availableStore.shouldLoad()">

			<ul class="list-group">
				<label class="list-group-item" ng-class="{selected: user.attributes.checked}" ng-repeat="user in storeSelectModal.availableStore.items" im-infinite-use-window="true">
					<input type="checkbox" ng-model="user.attributes.checked"> {{user.attributes.username}}
				</label>  
			</ul>
		</div>				

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">{{"OK"| goT}}</button>
		<button class="btn btn-warning" ng-click="cancel()">{{"Cancel"| goT}}</button>
	</div>
</div>