<div class="go-header">	
	<div class="go-header-left">
		<h1>{{::title}}</h1>
	</div>	
</div>


<div class="go-body">

<form name="loginForm" novalidate im-submit="login(user)" role="form">


	<div class="go-card go-login-window">
		
		
		<div class="go-logo"></div>

		<h1>{{"Login" | goT}}</h1>


		<input type="hidden"  ng-model="user.id">

<!--		<div class="form-group">
			<label>
				URL
			</label>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-database"></i></div>
				<input id="url" name="url" type="text" class="form-control" ng-model="config.url" placeholder="https://example.groupoffice.biz/groupoffice/" required autofocus>

			</div>
			<im-show-error for="url"></im-show-error>
		</div>-->

		<div class="form-group">
			<label for="username">
				{{"Username" | goT}}
			</label>
<!--				<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-user"></i></div>-->
				<input id="username" name="username" type="text" class="form-control" ng-model="user.username" placeholder="{{'Username'| goT}}" required autofocus>						
			<!--</div>-->
			<im-show-error for="username"></im-show-error>
		</div>

		<div class="form-group">
			<label for="password">
				{{"Password" | goT}}
			</label>
<!--				<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-lock"></i></div>-->
				<input id="password" name="password" type="password" class="form-control" ng-model="user.password" placeholder="{{'Password'| goT}}" required>						
<!--				</div>-->
			<im-show-error for="password"></im-show-error>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="user.remember"> {{'Remember my login'| goT}}
			</label>
		</div>
	

	
		<input type="submit" class="btn btn-primary" value="{{'Login'| goT}}"/>
	
	</div>
	
	
	<div style="margin:30px auto; width:200px;text-align: center;">Powered by<br /><a href="https://www.group-office.com">https://www.group-office.com</a></div>

</form>
</div>