<section>
	<form name="loginForm" novalidate im-submit="login(user)" class="form-horizontal" role="form">
		<div class="go-login-window">

			<header>{{::title}}</header>


			<div class="body">

				<input type="hidden"  ng-model="user.id">

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-database"></i></div>
						<input id="url" name="url" type="text" class="form-control" ng-model="config.url" placeholder="https://example.groupoffice.biz/groupoffice/" required autofocus>

					</div>
					<im-show-error for="url"></im-show-error>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user"></i></div>
						<input id="username" name="username" type="text" class="form-control" ng-model="user.username" placeholder="{{'Username'| t}}" required autocomplete="off">						
					</div>
					<im-show-error for="username"></im-show-error>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-lock"></i></div>
						<input id="password" name="password" type="password" class="form-control" ng-model="user.password" placeholder="{{'Password'| t}}" required autocomplete="off">						
					</div>
					<im-show-error for="password"></im-show-error>
				</div>

				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.remember"> {{'Remember my login'| t}}
					</label>
				</div>
			</div>

			<footer>
				<input type="submit" class="btn btn-primary" value="{{'Login'| t}}"/>
			</footer>
		</div>
	</form>
</section>