/* line 1, ../../../../../.tmp/scss/modules/customfields/scss/customfields.scss */
.customfields-panel {
  /*	ul{
  			list-style:none;
  			margin:0px;
  			padding:0px;
  			
  			li{
  				a{
  					color: black;
  				}
  			}
  			
  	}*/
}
