
<div ng-include="'partials/header.html'"></div>

<div class="go-toolbar">
	<a ng-click="asideActive = true">Activate</a>	
</div>

<div class="go-body">

	<!--	<div class="go-col aside-sm" ng-class="{active: leftActive}">
			<div class="go-toolbar">
				<a ng-click="asideActive = true">Activate</a>	
			</div>
	
			<div class="go-scrollable-panel">
	
				<p>1</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p>
	
			</div>
	
		</div>-->

	<go-collapsible-panel is-active="asideActive" on-close="closeAside()">

		<div class="go-toolbar">
			<a>Button 1</a>
		</div>

		<div class="go-scrollable-panel">

			<p>1</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p>

		</div>

	</go-collapsible-panel>

	<div class="go-col sm list">
		<div class="go-toolbar">
			<a>Button 1</a>
		</div>

		<div class="go-scrollable-panel">

			<p>2</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p>

		</div>

	</div>

	<div class="go-col fill">
		<div class="go-toolbar">
			<a>Button 1</a>
		</div>

		<div class="go-scrollable-panel">

			<p>3</p>
			<p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p>

		</div>

	</div>

</div>
