
<div class="col-md-4">
	<div class="go-card">


		<div class="go-toolbar go-toolbar-xs">
			<h1>	{{"Fields"| t}}</h1>
			<div class="go-toolbar-right">

				<a ui-sref="customfields.model.fields.field({fieldId:0})">
					<i class="fa fa-plus"></i>
				</a>

			</div>
		</div>		



		<div class="list-group" sortable="dragControlListeners" ng-model="fieldStore.items">

			<a dragable="false" sortable-item ng-repeat="field in fieldStore.items" ng-class="{'deleted-visible': field.attributes.deleted}" class="list-group-item" ui-sref="customfields.model.fields.field({fieldId: field.attributes.id})">
				<span sortable-item-handle></span>&nbsp;

				{{field.attributes.name}}

				<span style="float:right">
					<im-soft-delete-button im-model="field" im-size="xs"></im-soft-delete-button>
				</span>
			</a>




		</div>
	</div>
</div>

<div ui-view></div>