
<div class="col-md-4">
	<div class="go-card">


		<div class="go-toolbar go-toolbar-xs">

			<h1>
				{{"Field sets"| t}}</h1>

			<div class="go-toolbar-right">

				<a class="btn" ui-sref="customfields.model.fieldset({fieldSetId:0})">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>	


		<div class="list-group" as-sortable="dragControlListeners" ng-model="fieldSetStore.items">

			<a draggable="false" as-sortable-item  ng-repeat="fieldSet in fieldSetStore.items"  class="list-group-item" ui-sref-active="active" ng-class="{'deleted-visible': fieldSet.attributes.deleted}" ui-sref="customfields.model.fields({fieldSetId: fieldSet.attributes.id})">
				<span as-sortable-item-handle></span>&nbsp;

				{{fieldSet.attributes.name}}

				<span style="float:right">

					<span tooltip="{{'Edit'| t}}" class="btn btn-xs btn-default" style="margin-right:10px;" ng-click="$state.go('customfields.model.fieldset', {fieldSetId: fieldSet.attributes.id});
							$event.stopPropagation();
							$event.preventDefault();">
						<i class="fa fa-edit"></i>
					</span>

					<im-soft-delete-button  im-on-delete="onDelete(result)" im-model="fieldSet" im-size="xs"></im-soft-delete-button>


				</span>

			</a>

		</div>


	</div>
</div>

<div ui-view></div>