
<div ng-include="'partials/header.html'"></div>

<div class="go-toolbar" ng-if="announcementsModule.permissions.createAccess">
	<a ui-sref="announcements.edit({announcementId:0})"><i class="fa fa-plus"></i></a>	
</div>

<div class="go-body">

	<div class="go-scrollable-panel" im-infinite-scroll="timelineStore.nextPage()" im-infinite-scroll-disabled="!timelineStore.shouldLoad()">

	
		<div style="max-width:800px;margin:0 auto">
		
	<div ng-repeat="announcement in announcementStore.items" class="go-card">

	
		<div ng-if="!announcement.attributes.imapMessageId">
			<!--<img class="thumbnail" ng-src="{{'intermesh/contacts/contact/thumb'| apiRoute: {w: 45, h: 50, zoomCrop: 1, userId: announcement.attributes.ownerUserId} }}">-->

<!--			<div style="width:auto;height:300px;margin:-16px -16px 20px;background-position:center;background-image:url({{::'intermesh/announcements/announcement/thumb'| apiRoute: {w: 800, announcementId: announcement.attributes.id} }})" target="_blank" href="{{::'intermesh/announcements/announcement/original'| apiRoute: {announcementId: announcement.attributes.id} }}">
				&nbsp;
			</div>-->

			<a target="_blank" href="{{::'intermesh/announcements/announcement/original'| apiRoute: {announcementId: announcement.attributes.id} }}">
				<img style="float:left;width:274px;margin:0px 10px 10px 0px" ng-src="{{::'intermesh/announcements/announcement/thumb'| apiRoute: {w: 274, announcementId: announcement.attributes.id} }}" />
			</a>
	
			<h1 style="display: inline-block">{{announcement.attributes.title}}</h1> 
			<small>{{"by" | t }} {{announcement.attributes.owner.attributes.username}} at {{announcement.attributes.createdAt | date}}</small>

			<p ng-bind-html="announcement.attributes.text | nl2br">
			</p>


			<div ng-if="announcementsModule.permissions.createAccess" style="text-align:right;">						
				<a ui-sref="announcements.edit({announcementId: announcement.attributes.id})" class="btn btn-xs btn-default">
					<i class="fa fa-edit"></i>
				</a>
				<im-soft-delete-button im-model="announcement"></im-soft-delete-button>
			</div>
			
		</div>
		
		
		
	</div>
			
	
	<div ng-if="!timelineStore.busy" class="im-show-if-only-child">
		{{'No items found'| t}}
	</div>
	
	<div ng-if="timelineStore.busy" class="list-group-item go-list-item-loading"><i class="fa fa-spinner go-rotate"></i> {{"Loading more items..."| t}}</div>
	
	</div>
</div>



<div ui-view></div>

</div>
